<h2>New Coin</h2>
<%= form_for @conn, Routes.coins_path(@conn, :create), [as: :coin], fn f -> %>
  <div class="mb-3">
    <label for="coin_slug" class="form-label">Coin slug on the CoinMarketCap</label>
    <%= text_input f, :slug, class: "form-control" %>
  </div>
  <%= submit "Add", class: "btn btn-primary" %>
<% end %>