.logo {
  width: 32px;
  height: 32px;
}

.icon {
  color: black;
}

.icon:hover {
  text-decoration: none;
}

.token_address {
  padding-top: 0.5rem;
  font-size: 0.7rem;
}

.chart {
  height: 16rem;
}

.page-title {
  font-size: 2rem;
  font-weight: 500;
}
