.logo {
  width: 32px;
  height: 32px;
}

.icon {
  color: black;
}

.icon:hover {
  text-decoration: none;
}

.token_address {
  padding-top: 0.5rem;
  font-size: 0.7rem;
}

.chart {
  height: 16rem;
}

.page-title {
  font-size: 2rem;
  font-weight: 500;
}

.session-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.session-form input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.session-form input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}